/*header*/

.navbar-brand{
    position: relative;
}

#logo{
    width: 50px;
}

#moviestar-title{
    color: white;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
}

#main-navbar{
    background-color: #121212;
}

#search-form{
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
}

#search-form .form-control{
    border: none;
    width: 90%;
    box-shadow: none;
}

#navbar{
    min-width: 30%;
}

.navbar-nav{
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav, .nav-link{
    color: white;
    transition: .5s;
}

.navbar-nav:hover, .nav-link:hover{
    color: #999;
}


.bold{
    font-weight: bold;
    color: #f5c518;
}

.nav-item{
    list-style: none;
}
/*footer*/

#footer{
    background-color: #000;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul, #footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li, #footer-links-container li {
   display: inline-block;
   margin: 0 20px;
}

#social-container li{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #333;
}

#footer-links-container a:hover{
    background-color: #333;
    padding: 5px;
    border-radius: 10px;
}

#social-container a, #footer-links-container a {
    color: white;
    transition: .5s;
    text-decoration: none;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container{
    margin: 30px 0;
}

/*home*/

#main-container{
    background-color: #000;
    color: white;
    min-height: 65vh;
    padding: 40px;
}

/*msg*/

.msg-container{
    background-color: #000;
    padding: 15px;
}

.msg{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.msg.error{
    color: red;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.sucess{
    color: green;
    background-color: #d1e7dd;
    border-color: #BADBCC;
}

/*Pagina de autenticação*/

#auth-row{
    justify-content: space-evenly;
}

#login-container h2, #register-container h2{
    text-align: center;
    border-bottom: 2px solid #f5c518;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form, #register-container form{
    max-width: 400px;
    margin: 30px auto;
}

.card-btn{
    color: black;
    background-color: #f5c518;
    border: 2px solid #f5c518;
    width: 100%;
}

.card-btn:hover{
    background-color: transparent;
    color: #f5c518;
    border: 2px solid #f5c518;
}

/*edit profile*/

#profile-image-container{
    width: 150px;
    height: 150px;
    border: 6px solid #f5c518;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

.page-description {
    color: #bbb;
}

#bio{
    max-width: 400px;
}
.form-control .disabled{
    background-color: #ccc;
}

#change-password-container{
    margin-top: 30px;
}

/*new movie*/

.page-title:after{
    content: "";
    width: 300px;
    border-bottom: 2px solid #f5c518;
    display: block;
    margin: 0 auto;
   padding-top: 7px;
}

.new-movie-container{
    text-align: center;
}

#add-movie-form{
    text-align: left;
}

.movie-image-container{
    height: 400px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
}